{% extends 'base.html.twig' %} {% block title %}Mon Compte{% endblock %} {%
block content %}

<h1>Modifier mot de passe</h1>
<a href="{{ path('account_password') }}">Modifier mdp</a>
<hr>
{% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
{% endif %}
{{ form(form) }}


{% endblock %}
